
    <div class="container-fluid py-5 my-5">
        <h1 class="text-center">Dona para que XeonMine vuelva</h1>
        <div class="d-flex justify-content-center">
            <a href="/#pagar" class="btn btn-outline-primary btn-lg mt-3" data-bs-toggle="modal" data-bs-target="#pagarModal">Donar Al Servidor</a>
        </div>
    </div>

    <div class="container-sm height">
        <div class="row justify-content-center">
            <div class="col-md-5 my-3">
                <div class="card bg-dark">
                    <div class="card-header">
                        <h3 class="text-center pt-1">Top Donadores</h3>
                    </div>
                    <div class="card-body">
                        {{#each top}}
                        <div class="d-flex align-items-center py-3">
                            <img class="circle" width="55" height="55" src="https://www.gravatar.com/avatar/{{gravatar}}?s=55&d=robohash" alt="" srcset="">
                            <span class="me-auto ps-3">Top {{sumar1 @index}} - {{name}}</span>
                            <span class="ms-auto">${{totalDonation}}</span>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>

            <div class="col-md-5 my-3">
                <div class="card bg-dark">
                    <div class="card-header">
                        <h3 class="text-center pt-1">5 Ultimos Donadores</h3>
                    </div>
                    <div class="card-body">
                        {{#each last}}
                        <div class="d-flex align-items-center py-3">
                            <img class="circle" width="55" height="55" src="https://www.gravatar.com/avatar/{{gravatar}}?s=55&d=robohash" alt="" srcset="">
                            <span class="me-auto ps-3">{{name}}</span>
                            <span class="ms-auto">${{lastDonation}}</span>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>